<div class="container">
  <div class="row">
    <div class="mx-auto mt-4">

    <div class="card" style="max-width: 400px;">
      <%= image_tag('no_image.png') %>
      <div class="card-img-overlay">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="mt-3">
      <h3><strong>新着商品</strong></h3>
    </div>
  </div>

  <div class="row">
    <tbody>
      <% @items.each do |item| %>
        <div class="col-lg-3 col-md-6 mt-3 mb-1">
          <tr>
            <p>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, size: "200x150" %>
              <% end %>
            </p>
            <p><strong><%= item.name %></strong></p>
            <p><strong>￥<%= item.add_tax_price.to_s(:delimited) %></strong></p>
          </tr>
        </div>
      <% end %>
    </tbody>
  </div>
  
  <div class="row">
    <div class="col-12 text-right">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
  </div>

</div>

