<div class="container">
  <div class="row">
    <div class="col-2 ml-5">
    
    <div class="mt-5 mb-3 bg-light text-dark text-center">
      <h5><strong>注文情報確認</strong></h5>
    </div>
    
    </div>
  </div>

  <div class="row">
    
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
  
        <tbody>
          <% @total = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= image_tag cart_item.item.image, size: "35x25" %>
              <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.add_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
          </tr>
          <% @total += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="table-active">送料</th>
            <td><%= @shipping_cost %></td>
          </tr>
    
          <tr>
            <th class="table-active">商品合計</th>
            <td><%= @total.to_s(:delimited) %></td>
          </tr>
    
          <tr>
            <th class="table-active">請求金額</th>
            <td><%= (@total + 800).to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  
    <div class="row ml-1">
      <label><strong>支払方法</strong></label>
      　<div><%= @order.payment_method %></div>
    </div>
    <div class="row ml-1">
      <label><strong>お届け先</strong></label>
      <div>
        　〒<%= @order.postal_code %> <%= @order.address %><br>
        　<%= @order.name %>
      </div>
    </div>
  
  <div class="row">
    <div class="mx-auto mt-5">
      <%= link_to "注文を確定する", orders_thanks_path, class: "btn btn-success" %>
    </div>
  </div>
    
</div>

