<div class="container">
  
  <div class="row">
    <div class="col-2 ml-5">
    
    <div class="mt-5 mb-3 bg-light text-dark text-center">
      <h5><strong>注文情報入力</strong></h5>
    </div>
    
    </div>
  </div>


  <%= form_with model: @order, local: true, url: {action: 'confirm'} do |f| %>
    <div class="row">
      <div class="col">
  
      <label><strong>支払方法</strong></label>
      <div class="ml-4">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1)  %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>

        <div class="mt-2"></div>
        <label><strong>お届け先</strong></label>
        <div class="ml-4">
          <%= f.radio_button :address_number, 0 %>
          <%= f.label :address_number_0, "ご自身の住所" %><br>
          　〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
          　<%= current_customer.full_name %><br>
          
          <div class="mt-2"></div>
          <%= f.radio_button :address_number, 1 %>
          <%= f.label :address_number_1, "登録済住所から選択" %><br>
          　<%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display) %><br>

          <div class="mt-2"></div>
          <%= f.radio_button :address_number, 2 %>
          <%= f.label :address_number_2, "新しいお届け先" %><br>
          
          <div class="form-group row">
          　<label class="col-2"><small>郵便番号(ハイフンなし)</small></label>
            <div class="col-9">
              <%= f.text_field :postal_code, placeholder: "0000000" %>
            </div>
          </div>
          
          <div class="form-group row">  
          　<label class="col-2"><small>住所</small></label>
            <div class="col-9">
              <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町000", size: "50x20" %>
            </div>
          </div>
          
          <div class="form-group row">
          　<label class="col-2"><small>宛名</small></label>
            <div class="col-9">
              <%= f.text_field :name, placeholder: "令和道子" %>
            </div>
          </div>
        
        </div>
      
      </div>
    </div>
 
  
    <div class="row">
      <div class="mx-auto mt-3">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>

</div>