<div class="container">
  
  <div class="row">
    <div class="mt-5 ml-5 mb-3">
      <h4><strong>商品一覧</strong><small>(全<%= Item.all.count %>件)</small></h4>
    </div>
  </div>


  <div class="row">
    <tbody>
      <% @items.each do |item| %>
        <% if item.is_active == true %>
        <div class="col-lg-3 col-md-6 mb-3">
          <tr>
            <p>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, size: "200x150" %>
              <% end %>
            </p>
            <p><strong><%= item.name %></strong></p>
            <p><strong>￥<%= item.add_tax_price.to_s(:delimited) %></strong></p>
          </tr>
        </div>
        <% end %>
      <% end %>
    </tbody>
  </div>


  <div class="row">
    <div class="mx-auto">
      <%= paginate @items %>
    </div>
  </div>

</div>