<div>
  <%= image_tag @item.image, size: "350x250" %>
  <h5><strong><%= @item.name %></h5></strong>
  <p><%= @item.introduction %></p>

  <h5>￥<%= @item.add_tax_price.to_s(:delimited) %>円<small>（税込）</small></h5>


  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <% if customer_signed_in? %>
      <%= f.hidden_field :item_id, :value => @item.id %>
    <% end %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, *[1..10], :include_blank => "個数選択" %>
    <%= f.submit "カートに入れる", class: "btn btn-success btn-sm" %>
  <% end %>
</div>